body{
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
header,nav,aside,main,footer{
  box-sizing: border-box;
  padding: 20px;
  border: 1px black solid;
  width: 100%;
}
.grid{
  display: grid;
  grid-template-columns: minmax(200px,1fr) minmax(300px,3fr) minmax(200px,1fr);
  gap: 10px;
  flex-grow: 1;
  grid-template-areas: 
      "nav main aside" 
  ;
}

header,footer{
  background-color: #f10;
  color:#fff;
  font-size: 30px;
}
nav{
  grid-area: nav;
  background-color: white; 
  
}
main{
  grid-area: main;
  font-size: 30px;
}
main p{
  margin: auto;
  max-width: 600px;
}
aside{
  grid-area: aside;
  
}
nav,aside{
  position: sticky;
  top: 0;
  max-height: 100dvh;
}

.asside__boton{
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 10px;
}


@media screen and (max-width: 600px) {
      .grid{
          grid-template-areas: 
          'nav'
          'main'
          'aside'
          ;
          grid-template-columns: 1fr;
          gap: 0;
      }
      nav{
          position: static;
      }
      aside{
          display: none;
      }
}